<title>Email verification</title>
<section class="form-dark">
  <div class="container">
    <div class="row" style="height: 100%;">
      <div class="col-12 col-lg-12 col-xl-12 col-xxl-4 offset-0 offset-lg-0 offset-xl-0 offset-xxl-1 text-center align-self-center">
        <img src="../../../../content/images/message_sent.svg" style="width: 300px;">
      </div>
      <div class="col-12 col-lg-12 col-xl-12 col-xxl-5 offset-lg-0 offset-xl-0 offset-xxl-0 text-center align-self-center">
        <form>
          <div class="row">
            <div class="col">
              <h2 style="text-align: center;margin: 30px;">Email verification</h2>
            </div>
          </div>
          <div class="col-xxl-8 offset-xxl-2" style="text-align: center;">
            <span class="text-center text-muted">Enter the verification code we just sent you on your email address.</span>
          </div>
          <div class="mb-4"></div>
          <div class="row">
            <div class="col-2 col-xxl-2">
              <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input1" ng-model="vm.codeValidation.input1" capitalize-input move-next-on-max-length>
            </div>
            <div class="col-2">
              <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input2" ng-model="vm.codeValidation.input2" capitalize-input move-next-on-max-length>
            </div>
            <div class="col-2 col-xxl-2">
              <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input3" ng-model="vm.codeValidation.input3" capitalize-input move-next-on-max-length>
            </div>
            <div class="col-2">
              <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input4" ng-model="vm.codeValidation.input4" capitalize-input move-next-on-max-length>
            </div>
            <div class="col-2">
              <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input5" ng-model="vm.codeValidation.input5" capitalize-input move-next-on-max-length>
            </div>
            <div class="col-2">
               <input class="form-control input-code-validation" type="text" style="text-align: center;font-size: 32px;" maxlength="1" id="input6" ng-model="vm.codeValidation.input6" capitalize-input move-next-on-max-length>
            </div>
          </div>
          <div class="row mt-3" ng-if="vm.messageError">
            <div class="col-md-12" style="text-align: center;">
              <span class="text-danger">{{vm.messageError}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xxl-4 offset-md-3 offset-lg-4 offset-xxl-4">
              <button class="btn btn-primary d-block w-100" data-bss-hover-animate="pulse" ng-click="vm.sendCode()" ng-disabled="vm.codeIsIncomplete() || vm.tracker.sendingCode.active()" ng-if="!vm.codeValidationSucceeded">
                <div ng-if="!vm.tracker.sendingCode.active()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-location">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                  </svg>&nbsp;Send
                </div>
                <div ng-if="vm.tracker.sendingCode.active()">
                  <img src="../../../../content/images/loading.svg" style="width: 22px !important;" ng-if="vm.tracker.sendingCode.active()">
                </div>
              </button>

              <button class="btn btn-success d-block w-100" data-bss-hover-animate="pulse" ng-if="vm.codeValidationSucceeded" ng-disabled="vm.codeValidationSucceeded">
                <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>&nbsp;Success
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
