body {
    background-image: url(../images/star-sky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    background-color: rgba(33, 37, 41, .5);
    backdrop-filter: blur(2rem);
}

.container-message-default {
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    max-width: calc(100% - 300px);
}

.bottom-5 {
    bottom: 5% !important;
}

.container-messages {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 38px);
    top: 0;
    position: absolute;
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.container-message-line {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.container-message-line-receiver {
    justify-content: flex-start;
}

.container-text {
    display: flex;
    width: max-content;
    max-width: 70%;
    height: max-content;
    background-color: azure;
    right: 40px;
    border-radius: 5px 5px 0 5px;
    padding: 0 5px 0 5px;
    text-align: left;
    margin-right: 20px;
}

.container-message-line > .container-text-receiver {
    background-color: #a6cbc9;
    justify-content: flex-start !important;
    border-radius: 5px 5px 5px 0px !important;
}

.message-time {
    font-size: 10px;
    bottom: 0;
    right: 6px;
    color: #666666;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.message {
    font-size: 15px;
}

.container-input-message {
    height: 38px;
    bottom: 0;
    display: block;
    position: absolute;
}

.container-content {
    width: 83%;
    height: 100%;
    position: absolute;
}

.container-background {
    height: 100%;
    width: 100%;
    padding: 0 8.5% 0 8.5%;
}

.container-text--message-time {
    min-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.container-text--message {
    height: max-content;
    max-width: max-content;
    min-width: 30px;
    margin-right: 5px;
}

.loading-div {
    z-index: 10;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.loading-div > img {
    width: 22px !important;
    height: 22px !important;
}

.container-no-contact-selected {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
    width: 100%;
    height: 100%;
}

.container-no-contact-selected > img {
    margin-bottom: 30px;
}

.navbar-brand {
    padding: 1.5rem 1rem 1.5rem 1rem !important;
}

@media (max-width: 1520px) {
    .container-background {
        padding: 0;
    }

    .container-content {
        width: 100%;
    }

    .container-text {
        right: 10px;
    }
}

@media (max-width: 1762px) {
    .container-text--message-time {
        min-width: 11%;
    }
}

@media (max-width: 1637px) {
    .container-text--message-time {
        min-width: 12%;
    }
}

@media (max-width: 1532px) {
    .container-text--message-time {
        min-width: 13%;
    }
}

@media (max-width: 1182px) {
    .container-text--message-time {
        min-width: 14%;
    }
}

@media (max-width: 1119px) {
    .container-text--message-time {
        min-width: 15%;
    }
}

@media (max-width: 1065px) {
    .container-text--message-time {
        min-width: 16%;
    }
}

@media (max-width: 1017px) {
    .container-text--message-time {
        min-width: 17%;
    }
}

@media (max-width: 975px) {
    .container-text--message-time {
        min-width: 18%;
    }
}

@media (max-width: 938px) {
    .container-text--message-time {
        min-width: 19%;
    }
}

@media (max-width: 904px) {
    .container-text--message-time {
        min-width: 20%;
    }
}

@media (max-width: 874px) {
    .container-text--message-time {
        min-width: 21%;
    }
}

@media (max-width: 847px) {
    .container-text--message-time {
        min-width: 22%;
    }
}

@media (max-width: 822px) {
    .container-text--message-time {
        min-width: 23%;
    }
}

@media (max-width: 799px) {
    .container-text--message-time {
        min-width: 24%;
    }
}

@media (max-width: 779px) {
    .container-text--message-time {
        min-width: 25%;
    }
}
